#class-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#home-header {
  margin-top: 8rem;
}

.header-img {
  width: 100%;
  margin-bottom: 5rem;
}

#header-name {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-evenly;
}

#avatar {
  width: 10rem;
  margin-left: 50%;
  margin-right: 50%;
}

#study-btn {
  width: 70%;
  height: 3rem;
  background-color: #b7d7bf;
  border-style: none;
  margin-top: 1rem;
}

#pen {
  margin-top: 11px;
}

#deck-wrapper {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.deck-row {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#deck-list {
  list-style: none;
  margin-top: 2rem;
}

hr {
  border-color: #b7d7bf;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.deck-title {
  margin-left: 2rem;
  cursor: pointer;
}

.center-deck-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0.5rem;
  margin-left: 2rem;
}

.space-content {
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

#study-deck {
  width: 6rem;
  height: 4rem;
  background-color: #b7d7bf;
  border-style: none;
  margin-right: 5rem;
  position: relative;
  bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 25rem;
}

.class-list {
  list-style: none;
  position: relative;
  right: 1rem;
}

.class-title {
  position: relative;
  top: 12px;
}
