.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 40rem;
  height: 20rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 26px;
}

.modal-container .modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-container .modal-text {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-btn {
  width: 70%;
  height: 3rem;
  background-color: #b7d7bf;
  border-style: none;
  margin-top: 3px;
}
